---
import Header from '../components/Header.astro'
import '../styles/global.css'
import Footer from '../components/Footer.astro'
---

<Header />


<h1> Welcome to my happy little spot here.</h1>
<h2> This website was made in astro, which is new to me.</h2>
<h2>Not much here, but the site is open source! go see the code in the header! there IS an unused element there.</h2>
<h2> Bye! vote on this project for a billion doubloons ;)</h2>


<br>
<br>
<br>

<h1 class="text-4xl"> JUST KIDDING!</h1>
<h2 class="text-2xl"> Did you really think i would just leave without telling you about myself?</h2>

<br>
<br>

<h1 class="text-3xl"> Who am I?</h1>
<p> Hello, I'm Kasen, I like doing frontend (although i'm not very good at it, as you can see.)
I also love working in Golang, one of my favorites! I can show you some of the stuff ive made below.</p>

<br>
<a class="text-3xl text-white" href="https://github.com/fluxc0/dill">Dill Package Manager</a>
<p> have you ever had the issue of being on linux and just having way too many package managers? Well, before you answer internally, I know you do and if you say you dont, you are lying.
  Between flatpaks, snaps, pip, npm, and every other package manager under the sun, I bet you wished at some point that there was just an easy way to do EVERYTHING. </p>

<br>
<p> Well, I have the answer for you! My newest project, DillPM, is intended to do just that! it queries all your package managers for updates, and goes through them all at once! It's the perfect solution! It's still in development, and new package managers are in the works.</p>


<Footer />
