---
---




<div id="header">
  <nav class="nav">
    <ol>
      <li class="inline-block"><a class="navitem" href="https://github.com/fluxc0/tabbyslimeblog-v2">Source!</a></li>
      <li class="inline-block"><a href="https://github.com/fluxc0" class="navitem">Github</a></li>
    </ol>
  </nav>
</div>

